* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

/* Main Container */
.main-container {
    display: flex;
    width: 95%;
    height: 90vh;
    overflow: hidden;
}

/* Left Container */
.left-container {
    width: 40%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    width: 98px;
    height: auto;
    display: block;
}

/* Navigation Menu */
.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

/* Information section */
.information {
    text-align: center;
}

.information h1, .information p, .information span {
    text-transform: uppercase;
}

.information h1 {
    font-weight: 700;
    font-size: 45px;
}

.information p, .information span {
    font-size: 16px;
    line-height: 30px;
}

.information span {
    font-weight: 600;
}

/* Language selection */
.language-selector {
    display: flex;
    align-items: center;
    position: relative;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
}

.lang-btn {
    background: white;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

.lang-btn:hover {
    background: #f0f0f0;
}

.lang-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    display: none;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

.language-selector.active .lang-dropdown {
    visibility: visible;
    opacity: 1;
    display: block;
    transform: translateY(0);
}

.lang-dropdown li {
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.lang-dropdown li:hover {
    background: #f0f0f0;
}

.language-selector.active .lang-btn {
    border-color: blue;
}

/* Right Container */
.right-container {
    width: 60%;
    display: flex;
    justify-content: center;
    object-fit: contain;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    background: url('images/background.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.right-container h2 {
    font-size: 20px;
    color: #ffffff;
    padding: 5px;
}

.generator-container {
    width: 100%;
    max-width: 500px;
}

.copyright-link {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-shadow: 0 0 5px white;
}

/* Nickname box */
.nickname-box {
    position: relative;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.nickname-box:hover {
    transform: scale(1.02);
    opacity: 0.95;
}

.nickname-box .icon {
    left: 15px;
}

.nickname-box input {
    flex-grow: 1;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background: none;
    outline: none;
    padding-left: 10px;
}

/* Gender selection */
.gender-card:hover {
    transform: scale(1.02);
    opacity: 0.95;
}

.gender-selection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
}

.gender-card {
    display: inline-block;
    width: 200px;
    height: 135px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}

.male {
    background-image: url('images/male-icon.svg');
}

.female {
    background-image: url('images/female-icon.svg');
}

.gender-input:checked + .gender-card::after {
    content: "✔";
    font-size: 12px;
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: bold;
    background: #0243E7;
    box-shadow:0 0 10px #0243E7;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nationality selection */
.nationality-btn {
    width: 100%;
    background: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px;
    outline: none;
    appearance: none;
}

.selected-nationality {
    font-weight: 400;
    color: #333;
}

.nationality-btn:hover {
    background: #f0f0f0;
}

.nationality-dropdown {
    width: 100%;
    position: absolute;
    max-height: 100px; 
    overflow-y: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
    z-index: 1000;
}

.nationality-selector {
    position: relative;
}

.nationality-selector.active .nationality-dropdown {
    visibility: visible;
    opacity: 1;
    display: block;
    transform: translateY(0);
}

.nationality-dropdown li {
    padding: 10px;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nationality-dropdown li:hover {
    background: #f0f0f0;
}

/* Copyright */
.copyright {
    font-size: 14px;
    color: white;
    margin-top: 30px;
    position: relative;
}

/* Generate button */
.generate-button {
    width: 50%;
    max-width: 500px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.generate-button:hover {
    transform: scale(1.02);
}

/* For mobile devices */
@media (max-width: 1024px) {
    body {
        padding: 0 20px;
        margin: 0;
        height: auto;
        display: block;
    }

    .main-container {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 20px 0;
    }

    .left-container,
    .right-container {
        width: 100%;
        margin: 0 auto;
        max-width: 800px;
    }

    .right-container {
        margin-top: 20px;
        padding: 20px;
        border-radius: 20px;
        background-attachment: scroll;
    }

    .gender-selection {
        flex-direction: column;
    }

    .gender-card {
        width: 100%;
        height: 80px;
    }

    .male {
        background-image: url('images/male-icon-mobile.svg');
    }

    .female {
        background-image: url('images/female-icon-mobile.svg');
    }
}